{{#comp-modal}}
<form {{action "create_user" on="submit"}}>
    {{input type="text" placeholder="First name" value=first_name}}
    <br>
    {{input type="text" placeholder="Last name" value=last_name}}
    <br>
    {{input type="text" placeholder="Username" value=username}}
    <br>
    {{input type="text" placeholder="E-mail" value=email}}
    <br>
    {{input type="text" placeholder="Phone number" value=phone_number}}
    <br>
    {{input type="password" placeholder="Password" value=password}}
    <br>
    {{input type="password" placeholder="Confirm password" value=confirm_password}}
    <br>
    {{check-box checked=terms_accepted label_after="Accept terms"}}
    <br>
    {{input type="submit" value="Create user"}}
</form>
{{/comp-modal}}