<div id="topbar">
    {{partial "partials/topbar"}}
</div>
<div class="main-content">
    {{#unless model.verfied_since}}
    <div class="verify-profile">
        Your e-mail is not yet verified - Click here to verify
    </div>
    {{/unless}}
    <div class="system-notifications">
        {{#each system-notifications as |notification index|}}
        {{system-notification model=notification index=index}}
        {{/each}}
    </div>
    {{outlet}}
    <button {{action "openModal" "components/comp-modal/create-user"}}>Create user</button>
    <button {{action "openModal" "components/comp-modal/sign-in"}}>Sign in</button>
    {{outlet "modal"}}
</div>
<footer>
    {{partial "partials/footer"}}
</footer>